html{
    height: 100%;
}

/* Header and Navbar */
.base-header {
    background: url("/com/amigoscode/spring_course/media/images/main_img_classroom.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
    height: 100vh;
}


/* Navigation Bar */
.my-navbar {
    width: 100%;
    height: fit-content;
    padding: 5px 0;

}
.my-navbar > a, .my-navbar > div{
    min-width: 200px;
    height: fit-content;
}


/* Forms */

.my-form-label{
    min-width: 100px;
    text-align: right;
    padding: 5px, 10px, 5px, 10px;
}
form > input {
    min-width: 180px;
}

.my-form-button {
    min-width: 100px;
}

