html{
    height: 100%;
}


/* Forms */

.my-form-label{
    min-width: 100px;
    text-align: right;
    padding: 5px, 10px, 5px, 10px;
}
form > input {
    min-width: 180px;
}

.my-form-button {
    min-width: 100px;
}

