<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}" type="text/css">
</head>
<body class="row mx-0 px-0 ">
    <div class="col base-header">
        <div class="row mx-0 px-0 ">

            <!-- Main Title -->
            <header class="col-12 border my-main-title">
<!--            title-->
                <h1 class="mx-auto text-center my-5 py-2 my-main-title">
                    Charles Xavier's School For Gifted Students
                </h1>

<!--            Login/ Logout buttons-->
                <div class="row p-2 mx-2">
                    <div class="text-right">
                        <a class="float-end btn login-buttons right" href="/student/logout"
                           sec:authorize="hasRole('USER')">Logout
                        </a>
                        <a class="float-end btn login-buttons" th:href="@{/student/login}" href="/student/login"
                           sec:authorize="!hasRole('USER')">Login
                        </a>
                        <a class="float-end btn login-buttons" href="#"
                           sec:authorize="!hasRole('USER')">Register
                        </a>
                    </div>
                </div>
            </header>
           
            <!-- Navigation bar -->
            <nav class="row mx-0 px-0 navbar navbar-expand-sm navbar-light bg-light">

                <!-- Main navbar -->
                <div class="container navbar my-navbar px-0" id="navbarTogglerDemo02">
                    <ul class="row mx-0 px-0 my-navbar navbar-nav">
                        <li class="col-2 nav-item my-nav-button">
                            <a class="nav-link" href="/student/allStudents"
                                th:href="@{/student/allStudents}">
                                Students List
                            </a>
                        </li>
                        <li class="col-2 nav-item active my-nav-button">
                            <a href="#" class="nav-link">Classes</a>
                        </li>
                        
                        <li class="col-4 my-nav-button">
                            <div class="nav-link my-nav-button"></div>
                        </li>
                        <li class="col-12 col-md-4">
                            <div class="input-group">
                                <input type="search" class="form-control rounded" placeholder="Search"
                                       aria-label="Search" aria-describedby="search-addon"/>
                                <button type="button" class="btn btn-outline-primary">search</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            
            <main class="col-12 px-0 mx-0">
                <P>Nothing here yet</P>
            </main>
        </div>
    </div>

</body>
</html>