<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}" type="text/css">
    <script src="https://kit.fontawesome.com/6f22d5f9fc.js" crossorigin="anonymous"></script>
    <title>Student</title>
</head>
<body class="row mx-0 px-0">

    <!-- Page content -->
    <div class="col mx-0 px-0 base-header">
        <div class="row mx-0 px-0">

            <!-- Main Title -->
            <header class="col-12">

                <!--title-->
                <a class="row mx-auto text-center my-5 py-2 my-title-text"
                    th:href="@{/}">
                    <div class="d-none d-md-inline col-md-3 mx-0 px-0">
                        <img class="mx-auto title-image" alt="Image"
                             th:src="@{/images/xav_school_logo_02_copy.jpg}"/>
                    </div>
                    <h1 class="d-inline col-6 mx-auto px-0 my-title-text">Charles Xavier's School For Gifted Students</h1>
                    <div class="d-none d-md-inline col-md-3 mx-0 px-0">
                        <img class="mx-auto title-image" alt="Image"
                             th:src="@{/images/xav_school_logo_02_copy.jpg}"/>
                    </div>
                </a>

                <!-- login/ Logout buttons-->
                <div class="row p-2 mx-2">
                    <div class="text-right">
                        <a class="float-end btn login-buttons right" href="/logout"
                           sec:authorize="hasRole('USER')">Logout
                        </a>
                        <a class="float-end btn login-buttons" th:href="@{/student/login}" href="/student/login"
                           sec:authorize="!hasRole('USER')">Login
                        </a>
                        <a class="float-end btn login-buttons"
                           href="http://localhost:8280/auth/realms/Students/login-actions/registration?client_id=student-client&tab_id=oneeutlzrA0"
                           sec:authorize="!hasRole('USER')">Register
                        </a>
                    </div>
                </div>
            </header>
           
            <!-- Navigation bar -->
            <nav class="row mx-0 px-0 navbar navbar-expand-sm navbar-light
                        bg-light position: sticky rounded-2">

                <!-- Main navbar -->
                <div class="container navbar px-0 mx-0" id="navbarTogglerDemo02">
                    <ul class="row mx-0 px-0 my-navbar navbar-nav">
                        <li class="col-2 nav-item my-nav-button">
                            <a class="nav-link rounded-2" href="/student/allStudents"
                                th:href="@{/student/allStudents}">
                                Students List
                            </a>
                        </li>
                        <li class="col-2 nav-item active my-nav-button">
                            <a href="/cohorts/all" class="nav-link rounded-2"
                                th:href="@{/cohorts/all}">
                                Classes</a>
                        </li>
                        
                        <li class="col-4 my-nav-button">
                            <div class="nav-link my-nav-button"></div>
                        </li>
                        <li class="col-12 col-md-4">
                            <div class="input-group">
                                <input type="search" class="form-control rounded" placeholder="Search"
                                       aria-label="Search" aria-describedby="search-addon"/>
                                <button type="button" class="btn btn-outline-primary">search</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Content section -->
        <main class="col-12 px-0 mx-0 main-content">
    
            <h1 class="text-center py-5 mt-3 text-white">
                Who Are We
            </h1>
    
            <article class="p-0 p-md-2 m-3 home-page-article rounded-3">
                <P class="mx-1 mx-sm-3 mt-4 home-page-text">
                    The Charles Xavier School is a fictional school for gifted youngsters
                    in the Marvel Comics universe, which was founded by Professor Charles Xavier.
                    The school is located in North Salem, New York, and serves as a training
                    ground and safe haven for young mutants.
    
                    The school was first introduced in X-Men #1 in 1963 and has since become
                    a significant location in the X-Men franchise. In the comics, the school has
                    been destroyed and rebuilt several times, but it always remains a place of
                    refuge and education for young mutants who are trying to come to terms with
                    their powers and learn how to use them for good.
    
                    The Charles Xavier School has been depicted in various forms of media,
                    including the X-Men films and television series. In these adaptations,
                    the school is often shown as a large mansion with high-tech facilities and
                    hidden underground levels. The X-Men use the school as their headquarters,
                    and it serves as a base of operations for their missions to protect mutants
                    and humans alike.
                </P>    
                <P class="mx-1 mx-sm-3 px-2  home-page-text">
                    Over the years, many mutant teams have been associated with the Charles
                    Xavier School, and many of their members have attended the school at some
                    point. Here are some of the most notable mutant teams that have been associated
                    with the Charles Xavier School in the comics:
                </P>
                <P class="mx-1 mx-sm-3 mt-4 home-page-text">
                    The original X-Men: The first group of X-Men, which consisted of Cyclops,
                    Jean Grey, Beast, Angel, and Iceman, were all students of Professor Xavier
                    and attended the Charles Xavier School.
                </P>
                <P class="mx-1 mx-sm-3 mt-4 home-page-text">
                    The New Mutants: This team was created in the 1980s and consisted of young
                    mutants who were being trained by Professor Xavier and the X-Men. Members of
                    the New Mutants included Cannonball, Sunspot, Wolfsbane, Mirage, and Karma.
                </P>
                <P class="mx-1 mx-sm-3 mt-4 home-page-text">
                    Generation X: This team was created in the 1990s and consisted of young
                    mutants who were being trained by Banshee and Emma Frost at the Massachusetts
                    Academy, which was a branch of the Charles Xavier School.
                    Members of Generation X included Jubilee, Husk, M, and Skin.
                </P>
                <P class="mx-1 mx-sm-3 mt-4 home-page-text">
                    X-Force: This team was created in the 1990s and consisted of mutants who were
                    more willing to use force and violence to protect mutantkind. Many members of
                    X-Force had connections to the Charles Xavier School, including Cable, who was
                    a former student of Professor Xavier, and Cannonball, who was a former member
                    of the New Mutants.
                </P>
                <P class="mx-1 mx-sm-3 mt-4 p-2 home-page-text">
                    The X-Men: Of course, the X-Men themselves have always been associated with
                    the Charles Xavier School, and many of their members have attended the school
                    at some point. Members of the X-Men who have attended the Charles Xavier School
                    include Storm, Wolverine, Colossus, Rogue, and many others.
                </P>
            </article>
            <div class="footer-divider"></div>
        </main>
        <footer class="footer my-footer">
            <div class="container">
                <div class="row px-0 mx-0">
                    <div class="col-6 col-md-3 p-2 my-footer-col">
                        <h4>School</h4>
                        <ul class="list-group py-1 mx-4">
                            <li>1407 Graymalkin Lane</a></li>
                            <li>Salem Center</li>
                            <li>Westchester County</li>
                            <li>New York</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 p-2 my-footer-col">
                        <h4>Get Help</h4>
                        <ul>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Application</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 p-2 my-footer-col">
                        <h4>Shop</h4>
                        <ul>
                            <li><a href="#">T-Shirts</a></li>
                            <li><a href="#">Bag</a></li>
                            <li><a href="#">Mogs</a></li>
                            <li><a href="#">Accessories</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 p-2 my-footer-col 
                                my-social-links">
                        <h4>Links</h4>
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-square-facebook"></i> Facebook</a></li>
                            <li><a href="#"><i class="fa-brands fa-square-instagram"></i> Instagram</a></li>
                            <li><a href="#"><i class="fa-brands fa-square-twitter"></i> Twitter</a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    <!-- Closing main section -->
    </div>

    
</body>
</html>