<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<head th:insert="index.html :: head">
    <title th:insert="title">Register Page</title>
</head>


<body class="row mx-0 px-0">
    <div class="col mx-0 px-0 base-header">

        <!-- Header Implemen from index.html -->
        <header th:insert="index.html :: header"></header>

        <div class="row mx-0 px-5">
            <div class="col-12 px-5 home-page-article rounded-3 text-center">
                <div class="mx-auto mt-3 px-auto home-page-text ">
                    <h1 class="mx-auto my-5">WELCOME TO OUR SCHOOL</h1>
                </div>
                <div class="py-3">
                    <div class="home-page-text">
                        You just added a new Student to the Database.
                    </div>
                </div>
            </div>
            <div class="col-12 text-center text-lg-right mt-4">
                <a class="my-home-button btn btn-secondary"
                    th:href="@{/}">
                    Home Page
                </a>
            </div>
        </div>
    </div>

    <!-- Footer Implemented from index.html -->
    <footer th:insert="index.html :: footer" class="mx-0 px-0"></footer>

</body>
</html>