<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:insert="index.html :: head">
    <title th:insert="title">Students List</title>
</head>

<body class="row mx-0 px-0">
    <div class="col mx-0 px-0 base-header">

        <!-- Header Implemened from index.html -->
        <header th:insert="index.html :: header"></header>

        <!-- Navigation Bar implemented from index.html -->
        <nav th:insert="index.html :: nav"></nav>

        <header>
            <h1 class="text-center text-white">Students Detail</h1>
        </header>

        <main>
            <h2 class="text-center px-2 pt-3 pb-2 text-white">Page in production.</h2>
            <article>
                <p class="text-left px-2 pt-3 pb-2 text-white">
                    Nothing much in here at the moment
                </p>
                
            </article>
    
    
            <div class="py-2 border border-dark my-3">
                <div class="row mx-0 px-0">
                    <!--/*@thymesVar id="student" type="com.amigoscode.spring_course.Student"*/-->
                    <!--        <form action="#" method="post" th:action="@{/addStudents}" th:object="${student}" >-->
                    <form class="offset-d-none col-12 offset-md-3 col-md-6 px-auto" action="#" 
                            th:action="@{/student/updateStudent/{id}/submitChanges(id=${student.getId()})}"
                            th:method="post" th:object="${student}">
                        <legend class="text-center text-white">
                            <span th:text="*{name}"></span>
                        </legend>
                        <div class="mx-auto px-auto text-center">
                            <fieldset class="mx-auto px-auto text-center">
                                <label for="name-box" class="my-form-label text-white">Name</label>
                                <input type="text" id="name-box" th:field="*{name}" name="name">
                            </fieldset>
                            <fieldset class="mx-auto px-auto text-center">
                                <label class="my-form-label text-white">Email</label>
                                <input type="text" th:field="*{email}">
                            </fieldset>
                            <fieldset class="mx-auto px-auto text-center">
                                <label for="date-box" class="my-form-label text-white">Date Of Birth</label>
                                <input type="date" id="date-box" name="date"
                                    th:date="${#temporals.format(localDate, 'yyyy-MM-dd')}"
                                    th:field="*{dob}">
                            </fieldset>
                        </div>
                        <div class="my-button-box text-center">
                            <button class="btn btn-secondary mx-auto px-auto my-form-button text-center" 
                                    type="submit">
                                    Submit
                            </button>
                            <button class="btn btn-danger mx-auto px-auto my-form-button text-center" type="cancel"
                                    name="cancel">
                                    Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
    
            <div class="row  text-white">
                <div class="col-6 offset-md-3 col-md-3 text-center">
                    <button class="btn btn-secondary mx-2 mt-3"
                        onclick="history.go(-1)">
                        Go back
                    </button>
                </div>
                <div class="col-6 col-md-3 text-center">
                    <a class="btn btn-secondary mx-2 mt-3"
                        th:href="@{/}">
                        Home Page
                    </a>
                </div>
            </div>
            

        </main>


        <div class="footer-divider"></div>
        
        <!-- Footer Implemented from index.html -->
        <footer th:insert="index.html :: footer"></footer>
    </div>
</body>
</html>