<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Students List</title>
</head>
<body>
    <header>
        <h1 class="text-center">Students Detail</h1>
    </header>

    <p>Some information about the student. Maybe table with result aso.</p>

    <!--  Message  -->
    <div class="row p-2 border border-dark my-3">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <!--/*@thymesVar id="student" type="com.amigoscode.spring_course.Student"*/-->
            <!--        <form action="#" method="post" th:action="@{/addStudents}" th:object="${student}" >-->
            <form class="mx-auto" action="#" 
                    th:action="@{/student/updateStudent/{id}/submitChanges(id=${student.getId()})}"
                    th:method="post" th:object="${student}">
                <fieldset>
                    <legend class="text-center">
                        <span th:text="*{name}"></span>
                    </legend>
                    <label for="name-box">Name
                        <input type="text" id="name-box" th:field="*{name}" name="name">
                    </label>
                </fieldset>
                <fieldset>
                    <label>Email
                        <input type="text" th:field="*{email}">
                    </label>
                </fieldset>
                <fieldset>
                    <label for="date-box">Date Of Birth
                        <input type="date" id="date-box" name="date"
                               th:date="${#temporals.format(localDate, 'yyyy-MM-dd')}"
                               th:field="*{dob}">
                    </label>
                </fieldset>
                <button class="btn btn-secondary mx-2 mt-3" type="submit">Submit</button>
                <button class="btn btn-danger mx-2 mt-3" type="cancel"
                        name="cancel">Cancel</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-6 offset-md-3 col-md-3">
            <button class="btn btn-secondary mx-2 mt-3"
                onclick="history.go(-1)">
                Go back
            </button>
        </div>
        <div class="col-6 col-md-3">
            <a class="btn btn-secondary mx-2 mt-3"
                th:href="@{/student/allStudents}">
                Student Page
            </a>
        </div>
    </div>
    <a class="offset-9 offset-md-11 col-3 col-md-1 btn btn-secondary"
        th:href="@{/}">
        Home Page
    </a>
</body>
</html>