<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Students List</title>
</head>
<body>
    <header>
        <h1>Update Students Data</h1>
    </header>
    <!--  Message  -->
    <div class="row p-2 border border-dark my-3">
        <div class="col">
            <!--/*@thymesVar id="student" type="com.amigoscode.spring_course.Student"*/-->
            <!--        <form action="#" method="post" th:action="@{/addStudents}" th:object="${student}" >-->
            <form class="mx-auto" action="#" th:action="register" th:method="post" th:object="${studentForm}" >
                <fieldset>
                    <legend>Update Student</legend>
                    <label for="name-box">Name
                        <input type="hidden" th:field="*{name}" name="name">
                        <input type="text" id="name-box" th:field="*{name}" name="name">
                    </label>
                </fieldset>
                <fieldset>
                    <label>Email
                        <input type="text" th:field="*{email}">
                    </label>
                </fieldset>
                <fieldset>
                    <label for="date-box">Date Of Birth
                        <input type="date" id="date-box" name="date"
                               th:date="${#temporals.format(localDate, 'yyyy-MM-dd')}"
                               th:field="*{dob}">
                    </label>
                </fieldset>
                <button class="btn btn-secondary mx-2 mt-3" type="submit">Submit</button>
                <button class="btn btn-danger mx-2 mt-3" type="cancel"
                        name="cancel" th:href="@{/student/allStudents}">Cancel</button>
            </form>
        </div>
    </div>

</body>
</html>