html{
    height: 100%;
    background-color: #493e36b4;
    background-image: url("../images/main_img_classroom.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgba(150, 151, 91, 0.856);
    background-blend-mode: color-dodge; */
    min-height: 100vh;
    height: 100vh;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* Header and Navbar */
.base-header {
    background-image: url("../images/main_img_classroom.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    height: 100vh;
}

.title-image {
    /* height: 150px; */
    margin: auto;
    max-width: 100%;
    text-decoration: none;
    height: auto;
    opacity: 0.6;
}
.my-title-text {
    color: #493e36b4;
    font-style: italic;
    font-size: 48px;
    text-decoration: none;
    margin: auto;
    max-width: 100%;
    height: auto;
}
.title-image :hover {
    opacity: 0.9;
    transition-duration: 0.5s;
    text-decoration: none;
    
}
.my-title-text :hover {
    color: #493e36;
    font-size: 49px;
    font-weight: 600;
    text-decoration: none;
    /* text-decoration-color: #ffffff0e; */
    transition-duration: 0.8s;
}

.my-login-container{
    height: 100vh;
    background-color: #493e36b4;
    margin-left: 50px;
    margin-right: 50px
}


/* Navigation Bar */
.my-navbar {
    width: 100%;
    height: fit-content;
    /* background-color: #1b0d0d88; */

}
.my-navbar > a, .my-navbar > div{
    min-width: 200px;
    height: fit-content;
}
.my-nav-button{
    width: 156px;
    background-color: #fff;
    text-align: center;
}
.my-nav-button :hover{
    background-color: #493e36b4;
    color: #fff;
    transition-delay: 0.5;
}
.welcome-box {
    padding: 10px;
    width: fit-content;
    vertical-align: middle;
    text-align: center;

}
.welcome-text{
    color: #fff;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-link{
    /* background-color: red; */
}

/* Buttons */
.admin-buttons{
    width: 150px;
    margin: auto;
    text-decoration: none;
}
.admin-btn-container{
    max-width: 353px;
}

#classes-button {
    color: red;
    background-color: blue;
}

.classes-button{
    color: green;
    background-color: yellow;
}

.student-links {
    text-decoration: none;
    color: #000;
}
.student-links :hover{
    text-decoration: wavy;
}
.my-home-button {
    width: 150px;
    /* margin: auto; */
}
.login-buttons {
    align-items: end;
    color: yellow;
    background-color: blue;
    text-align: center;
    padding: auto;
    width: 100px;
    margin: 0px, 10px;
    
}
.login-buttons :hover{
    color: blue;
    background-color: #000;
    border-width: 1px;
    border-color: blue;
}



/* Home Page Article */
.home-page-article{
    background-color: rgba(0, 0, 0, 0.514);
    padding-left: 15px;
    padding-right: 15px;
}

.home-page-text {
    color: white;

}


/* Forms */
.my-form-label{
    min-width: 100px;
    text-align: right;
    padding: 5px, 10px, 5px, 10px;
}
form > input {
    min-width: 180px;
}

.my-form-button {
    min-width: 100px;
    max-width: 150px;
}

.add-student-form {
    width: 450px;
    margin: auto;
    padding: auto;
}
.my-button-box{

}

/* Tables */
.my-table {
    background-color: #ffffffd5;
}

/* .my-table tr {
    background: red;
    background-color: blue;
    border-style: solid;
    border: red;
    transition: 0.5s;
} */

.my-table-rows :hover {
    border-bottom-right-radius: 2px solid black;
    transition-duration: 0.3s;
    background-color: #ffffffec;
    /* font-weight: 500; */
    /* margin-bottom: 1px;
    margin-top: 1px; */
}


/* Footer */
.footer-divider {
    height: 55px;
}
.my-footer {
    background: #493e36c4;
    height: fit-content;
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding: 0;
}

.my-footer-col :hover {
    /* background: #493e36; */
    /* background: linear-gradient(to right, #493e36, #493e36a6 ,#493e3600); */
    /* background: linear-gradient(#493e36, #493e36a6 ,#493e3600);
    transition: 2s; */
}
.my-footer container {
    width: 100%;
}
.my-footer-col {

}
.my-footer-col :hover {

}
.my-footer a {
    color: #fff;
    text-decoration: none;
}
.my-footer h4 {
    text-transform: capitalize;
    position: relative;
}
.my-footer h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: red;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.my-footer-col ul {
    margin-top: 25px;
}
.my-footer-col ul li {
    margin: 0 10px 5px 0;
    list-style: none;
}
.my-footer-col ul li a:hover {
    padding-left: 8px;
    text-decoration: underline;
    transition-duration: 200ms;
}


/* Medium size screeen */
@media (min-width: 768px) {
    .admin-btn-container{
        max-width: 353px;
    }
}

/* Large Screen */
@media (min-width: 1200px) {
    main{
        margin-left: 150px;
        margin-right: 150px;
    }

}
