html{
    height: 100%;
    background-color: #493e36b4;
    background-image: url("../images/main_img_classroom.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    height: 100vh;
}

/* Header and Navbar */
.base-header {
    background-image: url("../images/main_img_classroom.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    height: 100vh;
}

.login-buttons {
    align-items: end;
    color: yellow;
    background-color: blue;
    text-align: center;
    padding: auto;
    width: 100px;
    margin: 0px, 10px;
    
}
.login-buttons :hover{
    color: blue;
    background-color: #000;
    border-width: 1px;
    border-color: blue;
}

.my-main-title {
    color: #493e36b4;
    font-style: italic;
}


/* Navigation Bar */
.my-navbar {
    width: 100%;
    height: fit-content;
    /* background-color: #1b0d0d88; */

}
.my-navbar > a, .my-navbar > div{
    min-width: 200px;
    height: fit-content;
}
.my-nav-button{
    width: 20%;
    background-color: #fff;
}
.my-nav-button :hover{
    background-color: #493e36b4;
    color: #fff;
}
.nav-link{
    /* background-color: red; */
}

/* Buttons */
.admin-buttons{
    width: 150px;
    /* padding: auto; */
    margin: auto;
}
.admin-btn-container{
    max-width: 353px;
}

#classes-button {
    color: red;
    background-color: blue;
}

.classes-button{
    color: green;
    background-color: yellow;
}

.student-links {
    text-decoration: none;
    color: #000;
}

/* Home Page content */
.main-content {
    margin-right: 11rem;
    margin-left: 11rem;
    padding: 10px, 15px;
}

.home-page-article{
    background-color: rgba(0, 0, 0, 0.514);
}

.home-page-text {
    color: white;

}


/* Forms */

.my-form-label{
    min-width: 100px;
    text-align: right;
    padding: 5px, 10px, 5px, 10px;
}
form > input {
    min-width: 180px;
}

.my-form-button {
    min-width: 100px;
}

.add-student-form {
    width: 450px;
    margin: auto;
    padding: auto;
}

/* Medium size screeen */
@media (min-width: 768px) {
    .admin-btn-container{
        max-width: 353px;
    }
}

/* Large Screen */
@media (min-width: 1200px) {
    html{
        margin-left: 150px;
        margin-right: 150px;
    }
}
